* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SHELL ---------------------------------------- */
html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.main {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main > * {
  min-height: 100svh;
}

ul {
  list-style: none;
}

/* HEADINGS ------------------------------------- */
h1,
h2,
h3,
p,
li {
  color: var(--qwik-light-dark);
  margin: 0;
  line-height: 1.2;
  text-align: center;
}

ul {
  transform: translateY(2px);
  transition: all 0.2s ease-in-out;
}

h1 {
  font-size: 1.75rem;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
  font-weight: 400;
}

p.errorContainer {
  color: var(--qwik-alert);
  font-size: 0.8rem;
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 2.75rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
}

.highlight {
  /* texte couleur degrade */
  background: -webkit-linear-gradient(
    left,
    var(--qwik-light-green) 0%,
    var(--qwik-light-blue) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}

.inversedHighlight {
  background: -webkit-linear-gradient(
    left,
    var(--qwik-light-blue) 0%,
    var(--qwik-light-green) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}

/* TAGS ----------------------------------------- */
a {
  text-decoration: none;
  color: var(--qwik-dark-text-blue);
  cursor: pointer;
}

code {
  background: rgba(230, 230, 230, 0.3);
  border-radius: 4px;
  padding: 2px 6px;
}

/* CONTAINER ------------------------------------ */
.container {
  padding: 1rem 2rem;
  display: flex;
  width: 100%;
  gap: 1rem;
  max-width: 500px;
  justify-content: center;
}

.containerSmall {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  display: flex;
  max-width: 100vw;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
}
.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.bgPurple {
  background: var(--qwik-light-purple);
}
.bgDark {
  background: var(--qwik-dark-background);
  color: var(--qwik-dark-text);
}

.column {
  flex-direction: column;
}

.spaceBetween {
  justify-content: space-between;
}

.radius {
  border-radius: 8px;
}

.fixed {
  position: fixed;
}

@media (min-width: 576px) {
  .container {
    padding: 1.5rem 3rem;
    gap: 1.1rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 2rem 4rem;
    gap: 1.2rem;
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 2.5rem 5rem;
    gap: 1.3rem;
    max-width: none;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 2.5rem 6rem;
    gap: 1.3rem;
    max-width: none;
  }
}

/* DESIGN --------------------------------------- */
.ellipsis {
  position: absolute;
  top: 100px;
  left: -100px;
  width: 400px;
  height: 400px;
  background: radial-gradient(
    57.58% 57.58% at 48.79% 42.42%,
    rgba(24, 180, 244, 0.5) 0%,
    rgba(46, 55, 114, 0) 63.22%
  );
  transform: rotate(5deg);
  opacity: 0.5;
  z-index: -1;
}
.ellipsis.ellipsis-purple {
  top: 1350px;
  left: -100px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(172, 127, 244, 0.5) 0%,
    rgba(21, 25, 52, 0) 100%
  );
  transform: rotate(-5deg);
}

@media screen and (min-width: 768px) {
  .ellipsis {
    top: -100px;
    left: 350px;
    width: 1400px;
    height: 800px;
  }
  .ellipsis.ellipsis-purple {
    top: 1300px;
    left: -200px;
  }
}

/* BUTTONS -------------------------------------- */
.button {
  background: var(--qwik-light-blue);

  display: flex;
  align-items: center;

  border-radius: 0.5rem;
  color: var(--qwik-dark-text);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 2px 2px var(--qwik-dark-green);
  gap: 0.5rem;
  /* width: 100%;
  max-width: 100%; */
}

/* .button span {
  display: none;
} */

.button:hover {
  background: var(--qwik-dark-blue);
  transition: all 0.2s ease-in-out;
  color: var(--qwik-dark-text);
  box-shadow: none;
}

.button.button-dark {
  background-color: var(--qwik-light-green);
  box-shadow: 1px 2px 2px var(--qwik-light-blue);
  color: var(--qwik-dirty-black);
}

.button.button-dark:hover {
  background: var(--qwik-dark-green);
  transition: all 0.2s ease-in-out;
  /* color: var(--qwik-dark-text); */
  box-shadow: none;
}

.button.button-small {
  padding: 15px 25px;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 1.2rem;
    padding: 1rem;
    gap: 0.8rem;
    letter-spacing: 1px;
  }
}
